<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 1</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/layout-1.css">
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <h3>Layout 1</h3>
        </div>
        <div id="content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus a odit facilis qui? Rerum quo
                facilis quae reprehenderit optio, deleniti itaque, eius magni perferendis pariatur sed quis eveniet
                molestias. Sint!</p>

        </div>
        <div id="footer">
            <h3>Footer</h3>
        </div>
    </div>
</body>

</html>